@tailwind base;
@tailwind components;
@tailwind utilities;

.language-dropdown:hover > .fa-caret-down {
    color: #B19A4D;
}

.bg-header {
    width: 100%;
    height: 100%;
    background-image: url('../img/bg-header.jpg');
}

.middle-divider li:not(:last-child){
    border-right: 2px solid white;
}

.swiper-scrollbar {
bottom: 0 !important;
top: 0 !important;
}

.swiper-pagination {
    bottom: 0 !important;
    top: 0 !important; 
    z-index: -1 !important;
}

.swiper-pagination-bullet {
	background: transparent  !important; 
    padding: 0 1rem;
    border-radius: 0% !important;
    height: auto !important;
    width: auto !important;
    text-transform: uppercase;
    opacity: 1 !important;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
}
.swiper-pagination-bullet-active {
	background: transparent  ;
    color: #BBA05A;  
}

.product:hover figure img {
    opacity: .5;
}

.product:hover figure button {
    visibility: visible;
    opacity: 1;
    @apply top-1/2
}

